* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #231F20;
	padding-top: 30px;
}

#mainBody {
	width: 60%;
	height: 610px;
	background-color: white;
	margin: 0px auto;
	box-shadow: 0 3px 15px 3px brown;
}

#mainOne {
	width: 100%;
	height: 25%;
	background-color: white;
}

#divOne {
	float: left;
	width: 97%; 
	height: 64%;
	background-color: #FF7F00;
	margin: 1.5% 1.5% 0% 1.5%;
}



#nav1 {
	float: left;
	width: 97%;
	height: 20%;
	background-color: white;
	margin: 1.5% 1.5% 0% 1.5%;
}

#nav1 nav li {
	list-style-type: none;
	margin: 6px 5px 0px 5px;
}

#nav1 nav li a {
	font-size: 90%;
	font-family: verdana;
	padding-left: 5%;
	color: gray;
	text-decoration: none;
}

#bottomMain {
	float: left;
	width: 100%;
	height: 457px;
	background-color: black;
}

#asideLeft {
	float: left;
	width: 32%;
	height: 457px;
	background-color: white;
}

#left1 {
	width: 94%;
	height: 276px;
	background-color: #01A0C7;
	margin: 0% 0% 4% 5%;
}

#p1 {
	color: white;
	line-height: 13px;
	font-size: 75%;
	font-family: verdana;
	padding: 15px 13px 0px 13px;
}

#p2 {
	color: white;
	line-height: 13px;
	font-size: 75%;
	font-family: verdana;
	padding: 10px 13px 0px 13px;
}

#h1 {
	color: white;
	font-size: 75%;
	font-weight: bold;
	font-family: verdana;
	padding: 10px 13px 0px 13px;
}


#left2 {
	width: 94%;
	height: 160px;
	background-color: #047391;
	margin: 6% 0% 0% 5%;
}


#asideRight {
	float: left;
	width: 68%;
	height: 457px;
	background-color: white;
}

#Right1 {
	width: 97%;
	height: 70px;
	background-color: #FF4001;
	margin: 0% 1.5% 0% 1.5%;
}

#p3 {
	font-style: italic;
	line-height: 15px;
	font-size: 77%;
	font-family: verdana;
	padding: 10px 13px 0px 5px;
}

#mainHeading {
	float: left;
	color: white;
	font-size: 180%;
	font-family: Segoe UI Light;
	margin: 14px 0px 0px 20px;
}

#Right2 {
	width: 97%;
	height: 334px;
	background-color: white;
	margin: 1.5% 1.5% 0% 1.5%;
}

#underRight1 {
	margin-top: 9px;
	float: left;
	width: 50%;
	height: 245px;
	background-color: white;
}

#underRight2 {
	margin-top: 9px;
	float: left;
	width: 50%;
	height: 245px;
	background-color: white;
}

#Footer {
	width: 97%;
	height: 25px;
	background-color: gray;
	margin: 3% 1.5% 0% 1.5%;
}

#p4 {
	line-height: 12px;
	font-size: 70%;
	font-family: verdana;
	padding: 15px 13px 0px 13px;
}